body {
    margin: 0px;
    padding: 0px;
    background-color: #ccc;
    display: flex;
    height: 100vh;
    font-size: 20px;
}

/* Main */
.box1 {
    max-width: 800px;
    margin: 0px 300px 0 300px;
    position: absolute;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

/* Paragraph Container */
.pbox {
    flex-direction: row;
    flex-wrap: wrap;
    width: 45%;
    margin: 100px 5px 0px -230px;
    position: relative;
}

.pbox2 {
    flex-wrap: wrap;
    width: 45%;
    position: relative;
    margin: -10px 50px 0px 0px;
}

#reverse {
    display: flex;
    flex-direction: row-reverse;  
}

/* Picture Frame Container */
.picbox {
    position: relative;
    margin: 135px 5px 0px 10px;
}

.picbox2 {
    position: relative;
    margin: 20px 30px 0px 40px;
}


/* Font */
h1 {
    font-family: 'Seaweed Script', cursive;
    padding-left: 40px;
    display: flex;
}

p {
    font-family: 'Nanum Brush Script', cursive;
    flex-direction: row;
}

p1 {
    font-family: 'Nanum Brush Script', cursive;
    color: #333; 
    margin-bottom: 10px; 
}

/* Pictures */
.pic {
    width: 95%;
    height: 40vh;
    margin-bottom: 10px;
    padding: 0px 10px 0px 10px;
}

/* Photo Frame */
.box2 {
    background-color: white;
    width: 350px;
    padding: 10px 0px 0px 0px;
    flex-direction: column;
    text-align: center;
    border: 2px solid #ddd;
    box-shadow: 4px 4px 0px 0 #999;
    transform: rotate(2deg);
    display: flex;
}

.box3 {
    background-color: white;
    width: 350px;
    padding: 10px 0px 0px 0px;
    flex-direction: column;
    text-align: center;
    border: 2px solid #ddd;
    box-shadow: 4px 4px 0px 0 #999;
    transform: rotate(-2deg);
    display: flex;
}

